.about {
  margin: 0 10%;
  text-align: left;
}

/* .creditsList {
  text-align: left;
  font-size: 1em;
}

.creditsListItem {
  background-color: var(--background-primary-color);
  border: none;
} */
