:root {
  --background-primary-color: #f8f9fa;
  --link-primary-color: #3f72af;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --first-color: #f9f7f7;
  --second-color: #dbe2ef;
  --fourth-color: #112d4e;
  --divider-color: #bdbdbd;
  --icon-color: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
