.container {
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  min-height: 90vh;
  text-align: center;
}
