.errorHeader {
  padding-bottom: 1%;
  font-size: 6rem;
  text-shadow: 4px 4px 5px red;
}

.notFoundText {
  display: table;
  height: 100%;
  text-align: center;
  width: 100%;
  vertical-align: middle;
  margin: 1em auto;
  padding-bottom: 2%;
  font-size: 1.4rem;
}
