.home {
  /* background: linear-gradient(to top, #e5e5e5 0%, #f8f9fa 100%); */
  margin: 0 auto 0;
  max-width: 800px;
  /* max-height: 800px; */
  /* padding: 0 0 10px; */
}

.homeIntro {
  /* max-height: 800px; */
  max-width: 800px;
  margin: 0 auto 0;
  text-align: left;
}

.myName,
.tagline,
.introSummary {
  margin: 0 5% 0;
}

.myName {
  padding: 10% 0 10px;
}

.tagline {
  font-size: 1.3rem;
}

.homeItem {
  padding: 1%;
  margin: 1%;
  width: 100%;
  flex: 1;
}
.introSummary {
  margin-top: 10%;
  max-width: 800px;
  text-align: left;
}
.list-inline {
  text-align: center;
}
.homeSubTitle {
  margin: 10% auto 5%;
  padding: 5% 0 0;
  border-bottom: 5px solid grey;
  width: 80%;
  text-align: center;
}

.technologies {
  justify-content: space-evenly;
  padding: 0 0 15px;
  text-align: center;
}

.technology {
  background-color: var(--first-color);
  border: none;
  font-size: 2rem;
}

.btn-outline-primary {
  color: var(--link-primary-color);
  border-color: var(--link-primary-color);
}

.btn-outline-primary:hover {
  background-color: var(--link-primary-color);
}

.introSummary a {
  margin: 0 auto;
}

.devicon-html5-plain {
  color: #e44d26;
}

.devicon-css3-plain {
  color: #1572b6;
}

.devicon-javascript-plain {
  color: #f0db4f;
}

.devicon-react-original {
  color: #61dafb;
}

.devicon-ruby-plain {
  color: #d91404;
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .homeSubTitle {
    width: 40%;
  }
  .introSummary {
    margin-top: 5%;
  }
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .homeSubTitle {
    width: 55%;
  }
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .homeSubTitle {
    width: 50%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .homeSubTitle {
    width: 35%;
    margin: 0 auto 2%;
  }
}
