.nav {
  background-color: var(--second-color);
  color: var(--fourth-color) !important;
  font-size: 1.2rem;
  font-weight: bold;
  /* padding: 15px; */
  flex-flow: row nowrap;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 1rem;
}

.nav ul {
  display: flex !important;
  flex-basis: auto;
  flex-direction: row;
  justify-content: flex-end !important;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav li {
  padding: 10px;
}

.nav a {
  color: var(--fourth-color) !important;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 8px 5px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 5px 15px;
}
